<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Lurebook.com 2013</p>
      <p><a href="http://www.logomaker.com"><img src="http://www.logomaker.com/images/logomaker.png" alt="logo maker logo creator" border="0"/></a></p>
      
    </div>
  </div>
</footer>

</div><!-- /.container -->
